/* Root */
:root {

  /* Color */
  --primary-color: red;
  --secondary-color: #fff;
  --tertiary-color: #dadada;
  --primary-color-light: red;
  --secondary-color-light: #1e1e24;
  --tertiary-color-light: #494747;

  /*Color background*/
  --primary-bg-color: #1e1e24;
  --secondary-bg-color: #1e1e24;
  --tertiary-bg-color: #1e1e24;
  --primary-bg-color-light: #fff;
  --secondary-bg-color-light: #fff;
  --tertiary-bg-color-light: #fff;

  /* Color surface */
  --primary-surface-color: rgba(255, 255, 255, 0.1);
  --secondary-surface-color: rgba(255, 255, 255, 0.2);
  --primary-surface-color-light: rgba(220, 220, 220, 0.5);
  --secondary-surface-color-light: rgba(220, 220, 220, 1);

  /* Color text */
  --on-primary: #fff;
  --on-secondary: #1e1e24;
  --on-tertiary: #fff;
  --on-primary-light: #fff;
  --on-secondary-light: #fff;
  --on-tertiary-light: #fff;

  --on-surface: #fff;
  --on-background: #fff;
  --on-surface-light: #1e1e24;
  --on-background-light: #1e1e24;

  /* Color animation */
  --primary-color-animation: #1e1e24;
  --secondary-color-animation: #2d2e34;
  --tertiary-color-animation: #33343c;
  --primary-color-animation-light: #fff;
  --secondary-color-animation-light: #fffafa;
  --tertiary-color-animation-light: #faf6ff;

}

/* Reset */
h1 {
  font-size: 20px;
  font-weight: 700;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Header */
header {
  padding: 16px 30px;

  svg {
    cursor: pointer;
    width: auto;
    height: auto;
    margin-left: 0.5rem;
    position: relative;
    top: -3.5px;

    .reset {
      fill: var(--on-surface-light);
    }
  }

  svg.dark-mode {

    .reset {
      fill: var(--on-surface);
    }
  }

  .action {
    background: transparent;
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;

    &:hover {
      background: var(--primary-surface-color-light);
      color: var(--on-surface-light);
    }

    &.dark-mode:hover {
      background: var(--primary-surface-color);
      color: var(--on-surface);
    }
  }
}

/* Body */
body {
  background: var(--primary-bg-color-light);
  color: var(--on-background-light);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  margin: 0;
  line-height: 20px;

  &.dark-mode {
    background: var(--primary-bg-color);
    color: var(--on-background);
  }
}

/* Modal */
.modal {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);

  .modal-container-action {
    width: 100%;
    height: 100%;
  }

  #removeButton2 {
    width: calc(100% - 250px);
    height: 100%;
  }

  .modal-content {
    background-color: var(--primary-bg-color-light);
    overflow-y: scroll;
    width: 250px;
    height: 100%;
    padding: 20px;

    .rating {
      display: inline-block;
    }

    .star {
      color: var(--primary-surface-color-light);
      display: inline-block;
      width: 16px;
      height: 16px;
      font-size: 12px;

      &.checked {
        color: var(--on-surface-light);
      }

      &:before {
        content: '\2605';
      }
    }

    .container-skills {
      margin-top: 1rem;

      span.title {
        font-weight: 700;
        display: block;
        font-size: 16px;
        margin-bottom: 1rem;
      }

      span.skill {
        min-width: 100%;
        margin-bottom: 0.5rem;
        padding: 0.5rem 0;
        display: block;
        border-bottom: 1px solid var(--primary-surface-color-light);
      }
    }

    svg {
      cursor: pointer;
      width: auto;
      height: auto;
      margin-left: 0.5rem;
      position: relative;
      top: -3.5px;

      .reset {
        fill: var(--on-surface-light);
      }
    }

    svg.dark-mode {
      .reset {
        fill: var(--on-surface);
      }
    }

    .action {
      background: transparent;
      width: 40px;
      min-width: 40px;
      height: 40px;
      min-height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.2s;

      &:hover {
        background: var(--primary-surface-color-light);
        color: var(--on-surface-light);
      }

      &.dark-mode:hover {
        background: var(--primary-surface-color);
        color: var(--on-surface);
      }
    }
  }

  .modal-content.dark-mode {
    background-color: var(--primary-bg-color);

    span.skill {
      border-bottom: 1px solid var(--primary-surface-color);
    }

    .star {
      color: var(--primary-surface-color);

      &.checked {
        color: var(--on-surface);
      }
    }
  }

  .modal-content::-webkit-scrollbar {
    width: 6px;
  }

  .modal-content::-webkit-scrollbar-track {
    background: var(--primary-surface-color-light);
  }

  .modal-content::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color-light);
    border-radius: 20px;
  }

  .modal-content.dark-mode::-webkit-scrollbar {
    width: 6px;
  }

  .modal-content.dark-mode::-webkit-scrollbar-track {
    background: var(--primary-surface-color);
  }

  .modal-content.dark-mode::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 20px;
  }
}

/* Container */
.container-main {
  max-width: 1400px;
  margin: 0 auto 1rem;

  .container-main-left {
    padding-left: 30px;

    .container-img {
      position: relative;
      padding-bottom: 56.25%; /* Rapport d'aspect 16:9 */

      video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .container-desc-text {
      .container-info {
        .avatar {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 40px;
          min-width: 40px;
          height: 40px;
          min-height: 40px;
          border-radius: 50%;
          margin-right: 1rem;
          border: 1px solid gold;
        }

        .name {
          display: block;
          font-weight: 700;
          font-size: 16px;
          margin: 0;

          .material-icons {
            font-size: 14px;
            margin-left: 0.5rem;
            opacity: 0.6;
          }
        }

        .age {
          display: block;
          opacity: 0.6;
          font-size: 14px;
        }
      }

      .container-contact {
        margin-left: 2rem;

        .mail,
        .phone {
          color: var(--on-surface-light);
          background: var(--primary-surface-color-light);
          display: block;
          padding: 0.5rem 1.5rem;
          border-radius: 18px;
          text-align: center;
          text-decoration: none;
          transition: background-color 0.2s;
          font-size: 14px;

        }

        .mail {
          color: var(--on-secondary-light);
          background: var(--secondary-color-light);

          &.dark-mode {
            color: var(--on-secondary);
            background: var(--secondary-color);
          }

          &.dark-mode:hover {
            background: var(--secondary-surface-color-light);
          }

          &:hover{
            background: var(--tertiary-color-light);
          }
        }

        .phone {
          color: var(--on-surface-light);
          background: var(--primary-surface-color-light);

          &.dark-mode {
            color: var(--on-surface);
            background: var(--primary-surface-color);
          }

          &.dark-mode:hover {
            background: var(--secondary-surface-color);
          }

          &:hover{
            background: var(--secondary-surface-color-light);
          }
        }
      }

      .container-link {
        margin-left: auto;

        .link {
          color: var(--on-surface-light);
          background: var(--primary-surface-color-light);
          width: 40px;
          min-width: 40px;
          height: 40px;
          min-height: 40px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background-color 0.2s;

          svg {
            fill: var(--on-surface-light);
            stroke: transparent;
            background: transparent;
            width: 20px;
            height: 20px;
          }

          &:hover {
            background: var(--secondary-surface-color-light);
          }

          &.dark-mode {
            color: var(--on-surface);
            background: var(--primary-surface-color);

            svg {
              fill: var(--on-surface);
            }

            &:hover {
              background: var(--secondary-surface-color);
            }
          }
        }
      }
    }

    .container-bio-text {
      color: var(--on-surface-light);
      background: var(--primary-surface-color-light);
      padding: 1rem;
      border-radius: 6px;
      margin-top: 1.25rem;
      transition: background-color 0.2s;
      cursor: pointer;

      p {
        margin: 0;
        font-size: 14px;
      }

      p:first-child {
        font-weight: 700;
        margin-bottom: 0.25rem;
      }

      &:hover {
        background: var(--secondary-surface-color-light);
      }

      &.dark-mode {
        color: var(--on-surface);
        background: var(--primary-surface-color);

        &:hover {
          background: var(--secondary-surface-color);
        }
      }
    }

    .container-job {
      .container-job-header {
        margin: 2rem 0;
        font-weight: 700;
        font-size: 16px;

        .tooltip {
          margin-left: 0.5rem;
        }

        .action {
          display: none;
        }
      }

      .container-job-body {
        .sep {
          margin-bottom: 1rem;
        }

        .avatar {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 40px;
          min-width: 40px;
          height: 40px;
          min-height: 40px;
          border-radius: 50%;
          margin-right: 1rem;
        }

        .info-job {
          span {
            font-size: 12px;
            opacity: 0.6;
            margin-left: 0.5rem;
            display: block;
          }

          p:first-child {
            font-weight: 700;
            margin-top: 0;
            font-size: 14px;
            margin-bottom: 0;
          }

          p:last-child {
            margin-top: 0;
            font-size: 14px;
          }
        }
      }
    }
  }

  .container-main-right {
    padding: 0 30px;

    .container-skill-header {
      margin-bottom: 1rem;

      span {
        font-weight: 700;
        display: block;
        font-size: 16px;
      }
    }

    .container-project {
      overflow-x: scroll;
      padding-bottom: 1rem;
      position: relative;

      span {
        background: transparent;
        padding: 0.5rem;
        border-radius: 6px;
        margin-right: 0.5rem;
        width: fit-content;
        min-width: fit-content;
        transition: background-color 0.2s;
        cursor: pointer;

        &:hover {
          background: var(--secondary-surface-color-light);
          color: var(--on-surface-light);
        }

        &.active {
          background: var(--secondary-color-light);
          color: var(--on-secondary-light);
        }

        &.dark-mode:hover {
          background: var(--secondary-surface-color);
          color: var(--on-surface);
        }

        &.dark-mode.active {
          background: var(--secondary-color);
          color: var(--on-secondary);
        }
      }
    }

    .container-project::-webkit-scrollbar {
      height: 6px;
    }

    .container-project::-webkit-scrollbar-track {
      background: transparent;
    }

    .container-project::-webkit-scrollbar-thumb {
      background-color: var(--on-background-light);
      border-radius: 50px;
    }

    .container-project.dark-mode::-webkit-scrollbar-thumb {
      background-color: var(--on-background);
    }

    .container-achievement {
      margin-top: 1.5rem;

      .achievements {
        border-radius: 6px;
        margin-bottom: 0.5rem;
        cursor: pointer;
        transition: transform 0.2s;

        .container-img-achievements {
          width: 168px;
          height: 100Px;
          margin-right: 0.5rem;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 6px;
        }

        .container-txt {
          width: calc(100% - 168px);
          padding: 0.25rem;

          span {
            font-weight: 700;
            font-size: 14px;
            display: block;
          }

          .container-txt-info {
            .name {
              display: block;
              font-weight: 300;
              font-size: 0.775rem;
              opacity: 0.6;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              margin: 0;
            }

            .material-icons {
              margin-left: 0.25rem;
              opacity: 0.6;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }

        &:hover,
        &.active {
          transform: scale(1.02);
          background: var(--primary-surface-color-light);
        }

        &.dark-mode:hover {
          background: var(--primary-surface-color);
        }
      }
    }

    .container-training {
      margin-top: 1.5rem;

      .container-training-header {
        margin-bottom: 1rem;

        span {
          font-weight: 700;
          display: block;
          font-size: 16px;
        }
      }

      .container-training-body {
        overflow-x: scroll;
        overflow-y: hidden;
        padding-bottom: 1rem;

        .training {
          width: 168px;
          min-width: 168px;
          margin-right: 0.5rem;
          transition: transform 0.2s;
          cursor: pointer;

          .container-training-image {
            width: 100%;
            height: 250px;
            border-radius: 6px;
            transition: 0.2s;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            span {
              display: inline;
              font-weight: 700;
              font-size: 18px;
            }
          }

          .container-training-text {
            transition: 0.2s;
            padding: 0.25rem;

            p {
              font-size: 14px;
              font-weight: 700;
              margin: 0;
            }

            span {
              display: block;
              font-weight: 300;
              font-size: 0.775rem;
              opacity: 0.6;
              margin: 0;
            }
          }

          &:hover {
            transform: translateY(2%);
          }
        }
      }

      .container-training-body::-webkit-scrollbar {
        height: 6px;
      }

      .container-training-body::-webkit-scrollbar-track {
        background: transparent;
      }

      .container-training-body::-webkit-scrollbar-thumb {
        background-color: var(--on-background-light);
        border-radius: 50px;
      }

      .container-training-body.dark-mode::-webkit-scrollbar-thumb {
        background-color: var(--on-background);
      }
    }
  }
}

/* Sliding arrow element */
.fleche {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  margin: 0;
  color: var(--on-background-light);

  &:hover {
    background-color: var(--primary-surface-color-light);
    color: var(--on-surface-light);
  }

  &.dark-mode {
    color: var(--on-background);

    &:hover {
      background-color: var(--primary-surface-color);
      color: var(--on-surface);
    }
  }
}

/* Tooltip */
.tooltip {
  position: relative;
  margin: 0 0.25rem;
  cursor: pointer;

  .tooltiptext {
    background: var(--secondary-color-light);
    color: var(--on-secondary-light);
    z-index: 2;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    font-size: 12px;
    white-space: nowrap;
    display: block;
    width: fit-content;
    text-align: center;
    padding: 0.5rem;
    border-radius: 6px;
  }

  &.dark-mode {
    .tooltiptext {
      background: var(--secondary-color);
      color: var(--on-secondary);
    }
  }

  &:hover {
    .tooltiptext {
      visibility: visible;
    }
  }
}

/* Collapse */
.content-collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* Animation */
.focus-in-expand {
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes focus-in-expand {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

#loader {
  background: RGBA(30, 30, 36, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;

  .dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: var(--on-surface);
    border-radius: 50%;
    animation: dot-animation 1s infinite linear;
  }

  .dot:nth-child(2) {
    animation-delay: 0.2s;
  }

  .dot:nth-child(3) {
    animation-delay: 0.4s;
  }
}

.slide-in-left {
  animation: slide-in-left 0.3s both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.highlight {
  display: block;
}

@keyframes dot-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.no-scroll {
  overflow: hidden;
}

.hidden {
  display: none !important;
  transition: 0.6s;
}

.jello-horizontal:hover {
  animation: jello-horizontal 0.9s both;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.color-change-3x {
  animation: color-change-3x-light 6s linear infinite alternate both;
}

.color-change-3x.dark-mode {
  animation: color-change-3x-dark 6s linear infinite alternate both;
}

@keyframes color-change-3x-dark {
  0% {
    background: var(--primary-color-animation);
  }
  50% {
    background: var(--secondary-color-animation);
  }
  100% {
    background: var(--tertiary-color-animation);
  }
}

@keyframes color-change-3x-light {
  0% {
    background: var(--primary-color-animation-light);
  }
  50% {
    background: var(--secondary-color-animation-light);
  }
  100% {
    background: var(--tertiary-color-animation-light);
  }
}

/* Responsive */
@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
  header {
    padding: 20px;

    img {
      width: auto;
      height: auto;
      margin-left: 1rem;
      position: relative;
      top: -2px;
    }

    .container-main-header-action {
      .action {
        width: 40px;
        min-width: 40px;
        height: 40px;
        min-height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s;
      }
    }
  }

  .container-main {
    .container-main-left {
      padding: 0 20px;
    }

    .container-main-right {
      padding: 0 20px;
    }
  }

  .tooltip {
    .tooltiptext {
      display: none;
    }
  }
}

@media (max-width: 991.98px) {
  .container-main {
    .container-main-left {
      .container-job {
        .container-job-header {
          margin: 2rem 0;
          font-weight: 700;
          font-size: 16px;

          .tooltip {
            margin-left: 0.5rem;
          }

          .action {
            width: 40px;
            min-width: 40px;
            height: 40px;
            min-height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.2s;
          }
        }
      }
    }
  }

  .content-collapse2 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
}

@media (max-width: 767.98px) {
  header {
    padding: 10px;

    img {
      width: auto;
      height: auto;
      margin-left: 1rem;
      position: relative;
      top: -2px;
    }

    .container-main-header-action {
      .action {
        width: 40px;
        min-width: 40px;
        height: 40px;
        min-height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s;
      }
    }
  }

  .container-main {
    .container-main-left {
      padding: 0 10px;

      .container-desc-text {
        .container-info {
          overflow-x: auto;
          padding: 0 0 1rem;

          .container-avatar {
            min-width: fit-content;
          }
        }

        .container-info::-webkit-scrollbar {
          height: 6px;
        }

        .container-info::-webkit-scrollbar-track {
          background: transparent;
        }

        .container-info::-webkit-scrollbar-thumb {
          background-color: var(--on-background-light);
          border-radius: 50px;
        }

        .container-info.dark-mode::-webkit-scrollbar-thumb {
          background-color: var(--on-background);
        }

        .container-contact {
          margin: 0 0 0 1rem;
          min-width: fit-content;
        }

        .container-link {
          margin-left: auto;
          width: fit-content;
        }
      }

      .container-job {
        .container-job-body {
          .info-job {
            span {
              margin-left: 0;
              margin-bottom: 0.5rem;
            }
          }
        }
      }
    }

    .container-main-right {
      padding: 0 10px;
    }
  }

  .tooltip {
    .tooltiptext {
      display: none;
    }
  }

  .fleche {
    display: none !important;
  }
}

@media (max-width: 575.98px) {
}

